@inherits LayoutComponentBase

<PageTitle>PetReTail</PageTitle>

    <header class="container-fluid p-1 m-2">
        <Jumbotron />
        <Navbar />
    </header>

    <main class="container-fluid p-1 m-2">
        @Body
    </main>
