@inherits LayoutComponentBase

<PageTitle>PetReTail</PageTitle>

    <header class="container-fluid p-1 m-2">
        <Jumbotron />
        <Navbar />
    </header>

    <main class="container-fluid p-1 m-2">
        @Body
    </main>

    <footer class="container-fluid p-1 m-2">
        <em>This is the footer for Pet ReTail. IDK if we will actually use this.</em>
    </footer>