<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <NavLink class="nav-link" href="/" style="color: black; font-weight: bold">Home</NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link" href="viewpets" style="color: black; font-weight: bold">View All Pets</NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link" href="viewshelters" style="color: black; font-weight: bold">View All Shelters</NavLink>
        </li>
        </ul>
        <div class="navbar-nav ms-auto"></div>
        <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <NavLink class="nav-link" href="newuser" style="color: black;">New User</NavLink>
        </li>
        <li class="nav-item me-2">
          <NavLink class="nav-link" href="sheltermanagement" style="color: black;">Shelter Login</NavLink>
        </li>
        <li class="nav-item me-2">
          <NavLink class="nav-link" href="admin" style="color: black;">Admin Login</NavLink>
        </li>
      </ul>
    </div>
  </div>
</nav>