<div class="card" style="width: 18rem;">
  <img src="images/butters.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Butters</h5>
    <p class="card-text">Look at how cute this chunky cat is.</p>
    <NavLink href="animal" class="btn btn-primary">More about Butters</NavLink>
  </div>
</div>