@page "/"
@using PetReTail.Pages.Components
@using PetReTail.Data;

<PageTitle>Pet ReTail Home</PageTitle>

<h2><strong>Recent Arrivals</strong></h2>

@*<p>Here are some of our newest pets available for adoption.<br />
Click <NavLink href="viewpets">View Animals</NavLink> to see all the pets up for adoption on our site</p>*@

<div class="card-group">
    @foreach(AnimalModel animal in _animals)
    {
        
        <PreviewCard Animal="@animal"/>
    }
</div>


<div class="alert-danger">
    @errmsg
</div>